* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-image: url('background.png');
}

h1, h2 {
  color: white;
  text-align: center;
  padding: 5px;
}

p {
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.shipContainer {
  display: flex;
}

#mothershipScore {
  width: 0;
  height: 0;
  border-top: 100px solid white;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  margin: 30px auto;
}

.defenceshipScore {
  width: 0;
  height: 0;
  border-top: 90px solid white;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  margin: 30px auto;
}


.attackshipScore {
  width: 0;
  height: 0;
  border-top: 80px solid white;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  margin: 30px auto;
}

/* .hit {
  border-top: solid firebrick;
} */

.buttonContainer {
  display: flex;
  justify-content: center;
}

button {
  border: solid 3px grey;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 40px;
}

/* .shipDestroyed {
  background: firebrick;
  width: 0px;
  height: 0px;
  position: relative;
  text-align: center;
}   

.shipDestroyed:before,
.shipDestroyed:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: firebrick;
}
.shipDestroyed:before {
  transform: rotate(30deg);
}
.shipDestroyed:after {
  transform: rotate(60deg);
} */